.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-navlink {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.navigation-links1-navlink1 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #e2e2e2;
}
.home-header {
  width: 100%;
  height: 51px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: #e2e2e2;
}
.home-container01 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-image {
  width: 100px;
  object-fit: cover;
}
.home-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-navlink {
  border-color: #ffffff;
  border-width: 0px;
  text-decoration: none;
  background-color: #e74c36;
}
.home-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image01 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container03 {
  width: 100%;
  height: 526px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container04 {
  flex: .35;
  width: 497px;
  height: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffffff;
}
.home-text003 {
  color: #000000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  padding-left: 50px;
  padding-bottom: 100px;
}
.home-text004 {
  color: #333333;
  font-style: normal;
  font-weight: 700;
}
.home-text006 {
  color: #e74c36;
}
.home-text007 {
  color: #333333;
}
.home-text009 {
  color: #e74c36;
}
.home-text010 {
  color: #333333;
}
.home-image02 {
  flex: .8;
  width: 1212px;
  height: 100%;
  object-fit: cover;
}
.home-container05 {
  width: 100%;
  height: 539px;
  display: flex;
  align-items: flex-start;
  background-color: #f0f4f7;
}
.home-container06 {
  width: 100%;
  height: 499px;
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 100px;
  justify-content: flex-start;
}
.home-feature-card {
  width: 100%;
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-color: #071c1f;
}
.home-image03 {
  width: 100px;
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.home-text012 {
  color: #ffffff;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text013 {
  color: #c7c7c7;
  text-align: center;
}
.home-feature-card01 {
  width: 100%;
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-color: #e74c36;
}
.home-image04 {
  width: 100px;
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.home-text014 {
  color: #fff;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text015 {
  color: #c7c7c7;
  text-align: center;
}
.home-feature-card02 {
  width: 100%;
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.home-image05 {
  width: 100px;
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.home-text016 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text017 {
  color: #1c1c1c;
  text-align: center;
}
.home-container07 {
  width: 100%;
  height: 404px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-container08 {
  flex: 1;
  width: 200px;
  height: 354px;
  display: flex;
  align-items: flex-start;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text020 {
  color: #e74c36;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.home-text022 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
}
.home-text024 {
  color: #e74c36;
}
.home-text025 {
  text-align: justify;
}
.home-container09 {
  flex: 1;
  width: 200px;
  height: 348px;
  display: flex;
  align-items: flex-start;
  padding-top: 0%;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 10%;
  flex-direction: column;
  justify-content: center;
}
.home-feature-card03 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.home-image06 {
  width: var(--dl-size-size-small);
  height: 60px;
  object-fit: cover;
}
.home-container11 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text030 {
  font-size: 1.7rem;
  align-self: center;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-feature-card04 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.home-image07 {
  width: var(--dl-size-size-small);
  height: 60px;
  object-fit: cover;
}
.home-container12 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text032 {
  font-size: 1.7rem;
  align-self: center;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-feature-card05 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.home-image08 {
  width: var(--dl-size-size-small);
  height: 60px;
  object-fit: cover;
}
.home-container13 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text034 {
  font-size: 1.7rem;
  align-self: center;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-feature-card06 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.home-image09 {
  width: var(--dl-size-size-small);
  height: 60px;
  object-fit: cover;
}
.home-container14 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text035 {
  font-size: 1.7rem;
  align-self: center;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container15 {
  width: 100%;
  height: 723px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f0f4f7;
}
.home-text036 {
  color: #e74c36;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: 2.5%;
}
.home-text037 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.home-text038 {
  font-style: normal;
  font-weight: 700;
}
.home-text039 {
  color: #e74c36;
  font-style: normal;
  font-weight: 700;
}
.home-container16 {
  width: 100%;
  height: 499px;
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 100px;
  justify-content: flex-start;
}
.home-feature-card07 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  margin-right: 40px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
}
.home-image10 {
  width: 100px;
  height: var(--dl-size-size-medium);
  align-self: flex-start;
  margin-top: -40px;
  object-fit: cover;
  margin-left: -20px;
}
.home-text040 {
  color: #e74c36;
  width: 100%;
  font-size: 1.7rem;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text041 {
  color: #1c1c1c;
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.home-text042 {
  color: #797979;
}
.home-text045 {
  color: #797979;
}
.home-text048 {
  color: #797979;
}
.home-text051 {
  color: #797979;
}
.home-text054 {
  color: #797979;
}
.home-feature-card08 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  margin-right: 40px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
}
.home-image11 {
  width: 100px;
  height: var(--dl-size-size-medium);
  align-self: flex-start;
  margin-top: -40px;
  object-fit: cover;
  margin-left: -20px;
}
.home-text056 {
  color: #e74c36;
  width: 100%;
  font-size: 1.7rem;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text057 {
  color: #1c1c1c;
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.home-text058 {
  color: #797979;
}
.home-text061 {
  color: #797979;
}
.home-text064 {
  color: #797979;
}
.home-text067 {
  color: #797979;
}
.home-text070 {
  color: #797979;
}
.home-feature-card09 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  margin-right: 40px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
}
.home-image12 {
  width: 100px;
  height: var(--dl-size-size-medium);
  align-self: flex-start;
  margin-top: -40px;
  object-fit: cover;
  margin-left: -20px;
}
.home-text072 {
  color: #e74c36;
  width: 100%;
  font-size: 1.7rem;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text073 {
  color: #1c1c1c;
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.home-text074 {
  color: #797979;
}
.home-text077 {
  color: #797979;
}
.home-text080 {
  color: #797979;
}
.home-text083 {
  color: #797979;
}
.home-text086 {
  color: #797979;
}
.home-container17 {
  width: 100%;
  height: 853px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-text088 {
  color: #e74c36;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: 2.5%;
}
.home-text089 {
  font-style: normal;
  font-weight: 700;
}
.home-text090 {
  font-style: normal;
  font-weight: 700;
}
.home-text091 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.home-text092 {
  color: #000000;
  font-style: normal;
  font-weight: 700;
}
.home-text093 {
  color: #e74c36;
  font-style: normal;
  font-weight: 700;
}
.home-container18 {
  width: 27%;
  height: 353px;
  display: flex;
  position: relative;
  margin-top: 30px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: flex-start;
  background-color: #f0f4f7;
}
.home-text094 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.home-text120 {
  top: 27px;
  right: 0px;
  position: absolute;
  font-size: 20px;
  align-self: center;
  text-align: right;
  padding-right: 40px;
}
.home-image13 {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  object-fit: cover;
}
.home-container19 {
  width: 100%;
  height: 816px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f0f4f7;
}
.home-text146 {
  color: #e74c36;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: 2.5%;
}
.home-text147 {
  font-style: normal;
  font-weight: 700;
}
.home-text148 {
  font-style: normal;
  font-weight: 700;
}
.home-text149 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.home-text150 {
  color: #000000;
  font-style: normal;
  font-weight: 700;
}
.home-text151 {
  color: #e74c36;
  font-style: normal;
  font-weight: 700;
}
.home-form {
  width: 716px;
  height: 526px;
  position: relative;
  margin-top: 20px;
}
.home-text152 {
  font-size: 20px;
}
.home-textinput {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 50px;
  margin-top: 3px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-bottom: 15px;
}
.home-text153 {
  font-size: 20px;
  margin-bottom: 5px;
}
.home-textinput1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 50px;
  margin-top: 3px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-bottom: 15px;
}
.home-text154 {
  font-size: 20px;
  margin-bottom: 5px;
}
.home-textinput2 {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 50px;
  margin-top: 3px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-bottom: 15px;
}
.home-text155 {
  font-size: 20px;
  margin-bottom: 5px;
}
.home-textarea {
  width: 100%;
  height: 150px;
  margin-top: 3px;
  border-width: 0px;
  margin-bottom: 10px;
}
.home-button {
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 100%;
  bottom: 14px;
  height: 50px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  background-color: #e74c36;
}
.home-container20 {
  width: 100%;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292929;
}
.home-text156 {
  color: #afafaf;
  text-align: center;
}
@media(max-width: 991px) {
  .home-icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-feature-card03 {
    flex-direction: row;
  }
  .home-container11 {
    flex-direction: column;
  }
  .home-feature-card04 {
    flex-direction: row;
  }
  .home-container12 {
    flex-direction: column;
  }
  .home-feature-card05 {
    flex-direction: row;
  }
  .home-container13 {
    flex-direction: column;
  }
  .home-feature-card06 {
    flex-direction: row;
  }
  .home-container14 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-container11 {
    flex-direction: column;
  }
  .home-container12 {
    flex-direction: column;
  }
  .home-container13 {
    flex-direction: column;
  }
  .home-container14 {
    flex-direction: column;
  }
}
